.title{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 33px;
    background-color: rgb(0, 0, 0);
    
}

.movie-image{
    width: 500px;
}