
Body{
    font-family: 'Dancing Script', cursive;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 80px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}